@charset "UTF-8";
/*これもここで文字コードを設定？する理由がわからない*/

/*ページ共通で使うインナー*/
.common-inner {
    width: 960px;
    margin: 0 auto;
}

/*ページヘッダー*/
.page-header {
    background-color: #5A442A;
}

.page-header__inner {
    padding: 24px 0 ;
}

.page-header__title {
    color: #fff;
    line-height: 1.0;
}

.page-header__title .large {
    font-size: 3.2rem;
}

.page-header__title .small {
    font-size: 2rem;
}

.page-header__main-visual img{
    width: 100%;
}/*imgまで指定しないと100%表示ならない*/

/*メインコンテンツ*/
.main-content {
    padding: 50px 0;
    background-color: #FAF5ED;
}

/*コンテンツのヘッダー*/
.section-header {
    margin-bottom: 30px;
}

.section-header__title {
    line-height: 1;
}

/* 最初の一文字だけフォントサイズ等を変更する書き方はCSSのみでも可能
.section-header__title:first-letter {
    font-size: 3.6rem;
}
*/

.section-header__title .large {
    font-size: 3.6rem;
}

.section-header__title .small {
    font-size: 2.4rem;
}

/*写真のリスト*/
.work-list {
    margin-bottom: 50px;
}

.work-list__item:not(:last-child) {
    margin-bottom: 30px;
}/*最後の子要素はmb30pxを外す*/

/*写真+テキストのブロック*/
.photo-work {
    display: flex;
}

.photo-work__image {
    width: 480px;
    margin-right: 20px;
}

.photo-work__text {
    font-size: 1.6rem;
}

/*過去作品へのテキストリンク*/
.old-works {
    line-height: 1.0;
    text-align: center;
}

.old-works a {
    color: #707070;
    text-decoration: none; /*:フォントサイズの違いによる下線部のずれを生じないよう一旦下線部を消去*/
    border-bottom: 2px solid;/*border-bottomで下線を引く*/
}

.old-works a:hover {
    border-bottom: none;
}

.old-works .large {
    font-size: 3.6rem;
}

.old-works .small {
    font-size: 2.4rem;
}

/*ページフッター*/
.page-footer {
    padding: 22px 0;
    background-color: #5A4A2A;
}

.page-header p {
    font-size: 1.6rem;
    line-height: 1.0;
    text-align: center;
    color: #fff;
}

@media screen and (max-width: 524px) { /*ウィンドウ幅が0～479pxの場合にcssを適用*/
.common-inner {
    margin: 0 auto;
}

    .photo-work {
display: inline;
}

.photo-work__img {
width: 100%;
}

.photo-work__text {
    width: 100%;
}