.common-inner {
  width: 960px;
  margin: 0 auto;
}

.page-header {
  background: #5A442A;
}

.page-header .inner {
  padding: 24px 0;
}

.page-header .title {
  color: #fff;
  line-height: 1.0;
}

.page-header .title .large {
  font-size: 3.2rem;
}

.page-header .title .small {
  font-size: 2rem;
}
