.common-inner {
    width: 960px;
    margin: 0 auto;
}

.page-header__inner {
    padding: 24px 0;
    

    h1 {
        color: #fff;
        line-height: 1.0;

        .large {
            font-size: 3.2rem;
        }
        .small {
            font-size: 2rem;
        }
    }

    img {
        width: 100%;
    }
}


.old-works {
    line-height: 1.0;
    text-align: center;

    a {
        color: #707070;
        :hover {
            border-bottom: none;
        }
    }

    .large {
        font-size: 3.6rem;
    }

    .small {
        font-size: 2.4rem;
    }
}

.page-footer {
    padding: 22px 0;
    background: #5A442A;

    p {
        font-size: 1.6rem;
        line-height: 1.0;
        text-align: center;
        color: #fff;
    }
}